<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>FreeCodeCamp BackEnd API Projects</h1>
         <h3>URL Shortener Microservice</h3>
      </div>
     <h3>
        User Stories:
     </h3>
     <ul>
       <li>The user can pass a URL as a parameter and receive a shortened URL in the JSON response.</li>
       <li>Example Input: <a href="https://jfletcher-urlshortener.glitch.me/new/https://glitch.com/">https://jfletcher-urlshortener.glitch.me/new/https://glitch.com/</a></li>
       <li>When the user visits said shortened URL, it will redirect to the original link.</li>
       <li>Example Input: <a href="920f69f99">https://jfletcher-urlshortener.glitch.me/goto/920f69f99</a></li>
       <li>If an invalid URL or nonexistant shortened URL is given, an error will be returned.</li>
     </ul>
   </body>

</html>
