/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

.box {
  border-style: solid;
  border-width: 2px;
  width: 75%;
  margin: auto;
}
.input-form {
  border-style: solid;
  border-width: 2px;
  border-color: #404040;
  padding: 15px;
  width: 75%;
  margin: auto;
}
.word-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.example {
  display: inline;
  color: #C00;
  background-color: #DADADA;
}

#short-url {
  width: 30%;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}